<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1><%=message %></h1>
	<p><img src="images/Penguins.jpg" width="100px" height="100px"/></p>
</body>
</html>