<% include header.html %>
	<div class="row">
		<h1>Todo List <a href="create" class="btn btn-info pull-right">Add Todo</a></h1>

		<div class="panel panel-body">
			<table class="table table-striped">
				<colgroup>
					<col width="5%">
					<col width="10%">
					<col width="*">
					<col width="12%">
					<col width="10%">
					<col width="18%">
				</colgroup>
				<thead>
					<tr>
						<th>No</th>
						<th>Type</th>
						<th>Title</th>
						<th>Date</th>
						<th>Completed</th>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
<% include footer.html %>